$primary-color: #006341;
$second-color: #333;
$third-color: #ABC7BD;

$font-color: #DDD;
$background-color: #F0F0F0;

$regular-font: HomepageBaukasten-Book, Arial, Helvetica, sans-serif;
$bold-font: HomepageBaukasten-Bold, Arial, Helvetica, sans-serif;
