$regular-font: HomepageBaukasten-Book, Arial, Helvetica, sans-serif;
$bold-font: HomepageBaukasten-Bold, Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'HomepageBaukasten-Book';
  font-style: normal;
  font-display: block;
  src: url('fonts/HomepageBaukasten-Book.eot');
  src: url('fonts/HomepageBaukasten-Book.eot?#iefix') format('embedded-opentype'),
  url('fonts/HomepageBaukasten-Book.woff2') format('woff2'),
  url('fonts/HomepageBaukasten-Book.woff') format('woff'),
  url('fonts/HomepageBaukasten-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'HomepageBaukasten-Bold';
  font-style: normal;
  font-display: block;
  src: url('fonts/HomepageBaukasten-Bold.eot');
  src: url('fonts/HomepageBaukasten-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/HomepageBaukasten-Bold.woff2') format('woff2'),
  url('fonts/HomepageBaukasten-Bold.woff') format('woff'),
  url('fonts/HomepageBaukasten-Bold.ttf') format('truetype');
}

// FontAwesome

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';


