@use "sass:color";

html, body {
  color: $font-color;
  background-color: $background-color;

  font-size: 100%;
  font-family: $regular-font;

  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bold-font;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header { flex-shrink: 0; }
  main { flex: 1 0 auto; }
  footer { flex-shrink: 0; }
}

a {
  font-size: 1em;
  color: $font-color;

  &:link { text-decoration: none; }
  &:hover { color: color.adjust($font-color, $lightness: 30%); }
}

header {
  background-image: -webkit-image-set(
  url("images/WeatherStation@1x.png") 1x,
  url("images/WeatherStation@2x.png") 2x);
  background-image: image-set(
  url("images/WeatherStation@1x.png") 1x,
  url("images/WeatherStation@2x.png") 2x);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 370px;

  nav {
    margin-top: 150px;
    background-color: $second-color;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      list-style-type: none;
      padding: 0px;
      margin-bottom: 0px;

      li {
        a {
          font-family: $bold-font;
          font-size: 1.2em;
          text-transform: uppercase;
          padding: .8em;
          width: 170px;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}


footer {
  border-top: 3em solid $primary-color;
  background-color: $second-color;

  section {
    &:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      //flex-direction: column;

      list-style-type: none;
      padding: 0px;

      padding-left: 10px;

      li {
        padding-right: 1.3em;
      }
    }

    p#copyright {
      text-align: center;
      span {
        margin-left: 20px;
        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
}

div#ac-icon {
  width: 100px;
  height: 100px;
  background-image: -webkit-image-set(
  url("images/AC_WHT@1x.png") 1x,
  url("images/AC_WHT@2x.png") 2x);
  background-image: image-set(
  url("images/AC_WHT@1x.png") 1x,
  url("images/AC_WHT@2x.png") 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
